{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Add New Medical Record</h2>
<a href="{% url 'index' %}">Back To Home</a>
<hr>
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <form action="{% url 'add-ehr' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <!-- <p>Upload Record* (Coming Soon!)</p> -->
            <label class="mt-1" for="avatar">Choose the Health Report:</label>
            <input class="mt-1" type="file" id="avatar" name="avatar" accept="image/png, image/jpeg,.doc,.docx,application/msword,.pdf">

            <input class="btn btn-success my-1" type="submit" value="Add Data">
        </form>
    </div>
</div>

{% endblock %}

