{% extends 'base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
<h3>Health ID: {{request.user.record.unique_id}}</h3>
<div class="row">
    <div class="col-3">
        <a class="btn btn-primary" href="{% url 'add-ehr' %}">Add New Record</a>
    </div>
    <div class="col-3">
        <a class="btn btn-warning" href="{% url 'retrieve-ehr' %}">Show Existing Data</a>
    </div>
</div>
<hr>
<p class="lead">Add new data: The user or the hospital can add new health data for the user. This data will be verified by the hospital and will be visible on this website when the hospital approves of the data.</p>
<p class="lead">Show Existing data: This will show all the existing health records of the user to that specific user or the hospital.</p>
{% else %}

<h3>Healthcare technology is all about possibilities; how we can be healthier, happier, and more connected during an unpredictable time. Healthspace is the EHR for a changing world.</h3>
<br>
<p class="lead">It's our mission to relentlessly seek breakthrough innovation that will shape healthcare of tomorrow. And we believe that what we do doesn't just impact healthcare - it impacts the world. It's why, more than ever, healthcare is too important to stay the same.</p>

{% endif %}

{% endblock %}